# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# Database files
*.db

# Environment variables
.env

# Optional npm cache directory
.npm

# Coverage directory used by testing tools
coverage/

# Optional eslint cache
.eslintcache

# Other files and directories to ignore
